.csgo,
.csgo-top {
  padding: 30px 0;
}
.csgo-top {
  min-height: 50vh;
  background-color: var(--bosporus);
  color: #fff;
}

.comments-wrapper {
  display: grid;
  gap: 30px;
}

.comments-wrapper .fb-post {
  margin: auto;
}

@media (max-width: 767px) {
  .comments-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .comments-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.media {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.media iframe {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}