.tab-content{
  grid-area: tabcontent;

  background-color: var(--color-black);
}

/* rules wrapper */
.rules-wrapper{
}
  .rules-wrapper ul{
    list-style: none;
  }

/* twitch stream */
.twitch-stream-wrapper{
  text-align: center;
}