.tab-content{
  grid-area: tabcontent;
}

/* sponsors */
.sponsors{
  text-align: center;
  color: var(--color-white);
}
  .sponsors ul{
    padding: 0;
    list-style: none;
  }

/* twitch stream */
.twitch-stream-wrapper{
  text-align: center;
}