/* header block */
.info{
  grid-area: info;

  /* user-select: none; */
  background: url(./../../images/tbg.gif) no-repeat 50%;
  background-size: cover;
}
  @media(max-width: 767px){
    .info{
      align-items: center;
      justify-content: center;
    }
  }
  @media(min-width: 768px){
    .info{
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  /* info form */
  .info__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 25px;
    width: 100%;
    height: 100%;

    background-color: rgba(255,255,255, .3);
  }

  /* info form submit */
  .info__form-submit{
    display: none;

    border: 0;
    outline: 0;
    cursor: pointer;
    
    margin-top: 15px;
    padding: 12px;

    background-color: var(--color-white);

    transition: background-color .15s ease-in-out;
  }
    .info__form-submit:hover{
      color: var(--color-white);
      background-color: var(--color-highlight);
    }
    /* form submit in edit mode */
    .info__form--edit .info__form-submit{
      display: block;
    }

  /* pretitle */
  .info__pretitle{
    text-transform: uppercase;
    color: var(--color-white);
  }
  /* title */
  .info__title{
    margin: 10px 0;

    font-size: 30px;
    font-weight: bold;
    color: var(--color-white);
  }
  /* subtitle */
  .info__subtitle{
    color: var(--color-white);
  }
  