/* header block */
.info{
  grid-area: info;

  padding: 25px;

  display: flex;
  flex-direction: column;

  background-color: rgba(255,255,255, .3);
}
  @media(max-width: 767px){
    .info{
      align-items: center;
      justify-content: center;
    }
  }
  @media(min-width: 768px){
    .info{
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  /* pretitle */
  .info__pretitle{
    text-transform: uppercase;
    color: var(--color-lightgray);
  }
  /* title */
  .info__title{
    margin: 10px 0;

    color: var(--color-white);
  }
  /* subtitle */
  .info__subtitle{
    color: var(--color-white);
  }
  