.fb-post {
  border-radius: 3px;
  max-width: 500px;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
  color: #1d2129;
  background-color: #fff;
}

.fb-post__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--roycroftPewter);
}

.fb-post__head {
  display: flex;

  padding: 12px 12px 0;
}
.fb-post__name {
  padding-right: 8px;
}
.fb-post__status,
.fb-post__date {
  color: #616770;
}
.fb-post__date {
  font-size: 12px;
}

.fb-post__body {
  padding: 0 12px 8px;
}
.fb-post__hashtags {
  display: block;
  color: #385898;
}

.fb-post__image {
  width: 100%;
}
.fb-post__image img{
  width: 100%;
  height: 100%;
  line-height: 0;
  display: block;
  object-fit: contain;
}

.fb-post__likes {
  padding: 10px 12px;
  font-size: 12px;
}

.fb-post__footer {
  display: flex;
  justify-content: stretch;
  
  padding: 4px 0;
  margin: 0 8px;
  border-top: 1px solid #dadde1;
}

.fb-post__footer button {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  width: 100%;
  background-color: transparent;
  height: 42px;
}
.fb-post__footer button:hover {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 2px;
}