/* tabs wrapper content */
.tabs{
  grid-area: tabs;

  background-image: url('./../../images/tabs-bg.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

  /* tabs list */
  .tabs__list{
    margin: 0;
    padding: 0;
    list-style: none;

    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: rgba(255,255,255, .3);
  }
    .tabs__list li{
      display: inline-block;
    }
    .tabs__list a{
      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 100%;
      height: 100%;
      
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      color: var(--color-black);

      transition: background-color .25s ease-in-out, color .15s ease-in-out;
    }
      .tabs__list a:hover{
        color: var(--color-highlight);
        background-color: rgba(255,255,255, .5);
      }
      