/* tabs wrapper content */
.tabs{
  grid-area: tabs;
}

  /* tabs list */
  .tabs__list{
    margin: 0;
    padding: 0;
    list-style: none;

    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: rgba(255,255,255, .3);
  }
    .tabs__list li{
      display: inline-block;
    }
    .tabs__list a{
      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 100%;
      height: 100%;
      
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      font-weight: 700;
      color: var(--color-black);

      transition: letter-spacing .15s cubic-bezier(0.445, 0.05, 0.55, 0.95), color .3s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
      .tabs__list a:hover{
        letter-spacing: 1px;
        color: var(--color-white);
        background-color: var(--color-highlight);
      }
      