/* tabs wrapper content */
.tabs{

}
.tabs nav{
  margin-bottom: 25px;
  text-align: center;
}

  /* tabs list */
  .tabs__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
    .tabs__list li{
      display: inline-block;
      margin-right: 10px;
    }
    .tabs__list a{
      text-decoration: none;
      color: var(--color-white);
    }
  
/* tab block */
.block{
  width: 100%;
  padding: 15px;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  color: var(--color-white);
  
  border-radius: 5px;
  background: var(--block-bg);
  box-shadow: 0 1px 7px 1px rgba( 0,0,0, .17);
}
  .block iframe{
    margin-left: auto;
    margin-right: auto;
    border: 0;
    background-color: var(--color-black);
  }

/* players wrapper */
.players_wrapper{
  display: flex;
  flex-direction: column;
}

/* player */
.player{
  display: flex;
  align-items: center;

  margin-bottom: 25px;

  color: var(--color-white);

  margin-top: -200px;
}
  .player:first-child{
    margin-top: 0;
  }

  /* player mediaqueries */
  @media(min-width: 992px){
    .player{
      min-width: 70%;
      flex: 0 0 70%;
    }
  }

  /* player align */
  .player-left{
    align-self: flex-start;
  }
    .player-left .player__image{
      margin-right: 50px;
    }
  .player-right{
    align-self: flex-end;
    justify-content: flex-end;
  }
    .player-right .player__image{
      margin-left: 50px;
      order: 2;
    }
    .player-right .player__content{
      order: 1;
    }

  /* player image bg */
  .player-0 .player__image{
    background: url('./../../images/p0.png') no-repeat 50%;
  }
  .player-1 .player__image{
    background: url('./../../images/p1.png') no-repeat 50%;
  }
  .player-2 .player__image{
    background: url('./../../images/p2.png') no-repeat 50%;
  }
  .player-3 .player__image{
    background: url('./../../images/p3.png') no-repeat 50%;
  }
  .player-4 .player__image{
    background: url('./../../images/p4.png') no-repeat 50%;
  }
  .player-5 .player__image{
    background: url('./../../images/p5.png') no-repeat 50%;
  }
  .player-6 .player__image{
    background: url('./../../images/p6.png') no-repeat 50%;
  }
  .player-7 .player__image{
    background: url('./../../images/p7.png') no-repeat 50%;
  }

  /* player image */
  .player__image{
    width: 320px;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .5s linear;
  }
  .player:hover .player__image img{
    transform: scale(1.05);
    filter: grayscale(30%);
  }
  .player__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;

    filter: grayscale(60%);

    transition: all .25s ease-in-out;
  }

  /* player content */
  .player__content{

  }

  /* player name, surname, nickname */
  .player__name{

  }
  .player__surname{
  }
  .player__nickname{
    vertical-align: super;
    font-size: 18px;
    color: var(--color-highlight);
  }
  .divider{
    padding: 10px;
    color: var(--color-gray);
  }

/* sponsors */
.sponsors{
  text-align: center;
  color: var(--color-white);
}
  .sponsors ul{
    padding: 0;
    list-style: none;
  }

/* bracket */
.bracket-wrapper{
  width: 100%;
  display: flex;
}
.bracket-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .bracket-row + .bracket-row{
    margin-left: 25px;
  }
  .bracket-row > h4{
    margin-top: 0;

    text-align: center;
    color: var(--color-white);
  }
.bracket-cell{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .bracket-cell + .bracket-cell {
    margin-top: 25px;
  }

.bracket-team{
  display: flex;

  padding: 10px;

  border-radius: 5px;
  background: var(--block-bg);
  box-shadow: 0 1px 7px 1px rgba( 0,0,0, .17);
}
  .bracket-team__name{
    margin: 0;

    flex-grow: 1;

    color: var(--color-white);
  }
  .bracket-team__score{
    margin-left: 15px;
  }
    .bracket-team__score span{
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;

      background-color: var(--color-highlight);
    }
      .bracket-team__score span + span {
        margin-left: 5px;
      }
