.board {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: calc(var(--gutter) * 2);

  border: 20px solid #AB6C43;
  background-color: #373737;
  box-shadow: inset 0 0 5px #000;

  color: white;
  text-align: left;
  font-size: 1rem;
}

.board ul {
  padding: 0;
  list-style: none;
}

.mrMakey {
  display: block;
  max-width: 100px;

  position: absolute;
  bottom: -100px; left: -80px;
  z-index: 2;
}