.about{
  width: 100%;
  position: relative;
  z-index: 200;

  padding: 100px 0;
  background-color: var(--secondary-color);
}
  .about-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .about img{
    display: inline-block;
    max-width: 600px;
  }
  .about__text{
    padding-left: 150px;
  }
