.team-picker {
  display: grid;
}

.teams-list li {
  text-align: left;
  list-style: none;
}
.teams-list ul {
  padding: 10px;
}
.teams-list__team-country {
  font-size: 8px;
}
@media (min-width: 768px) {
  .team-picker {
    grid-template-columns: 1fr 200px 1fr;
  }
}
@media (max-width: 767px) {
  .team {
    order: 1;
  }
  .teams-list {
    order: 2;
  }
}

.team__name {
  display: block;
  color: var(--bosporus);
}
.team__country {
  display: block;
  font-size: 12px;
}
.team__logo {

}