/* header block */
.header {
  height: 350px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  box-shadow: inset 0px -40px 100px 0 var(--body-bg);

  background: url('main-background.png') no-repeat 50% bottom;
  background-size: cover;
}

  /* pretitle */
  .header__pretitle{
    text-transform: uppercase;
    color: var(--color-gray);
  }
  /* title */
  .header__title{
    margin: 10px 0;

    color: var(--color-white);
  }
  /* subtitle */
  .header__subtitle{
    color: var(--color-white);
  }