.section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-rules {
  color: var(--snow);
}
  .section-rules .container,
  .section-lastChampions .container {
    display: flex;
    justify-content: center;
  }