.section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section ul {
  padding-left: 20px;
}

.section-rules {
  color: var(--snow);
}
  .section-rules .container,
  .section-motivation .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section-motivation .container {
    flex-direction: row-reverse;
  }