/* players wrapper */
.players_wrapper{
  display: grid;
}

  @media(min-width: 768px){
    .players_wrapper{
      grid-template-columns: repeat(2, 50%);
      grid-column-gap: 2px;
      grid-row-gap: 2px;
    }
  }

/* player */
.player{
  display: flex;

  position: relative;
  overflow: hidden;

  color: var(--color-white);

  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

  @media(max-width: 991px){
    .player{
      flex-direction: column;
      align-items: center;

      padding: 15px;
    }
  }

  /* player image */
  .player__image{
    width: 50%;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  @media(min-width: 992px){
    .player__image{
      padding: 20px;
    }
  }

  .player__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;

    filter: grayscale(40%);
  }

  .player__content{
    margin-top: 20px;
  }
  .player__content-data{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color:rgba(255,255,255, .5); */
  }

  /* player name, surname, nickname */
  .player__name{
    margin-top: 10px;
    margin-bottom: 0;
  }
  .player__nickname{
    margin-bottom: 10px;
    display: block;

    font-size: 18px;
    color: var(--color-highlight);
  }
  .divider{
    padding: 10px;
    color: var(--color-lightgray);
  }
