/* news wrapper */
.news{
  display: grid;
  grid-area: news;

  background-color: var(--color-darkgray);
}

/* news item */
.news-item{
  padding-left: 20px;
  padding-right: 20px;
  
  color: var(--color-white);
  background-color: var(--color-black);
}
  .news-item__date{
    margin-bottom: 0;

    font-size: 12px;
  }
  .news-item__title{
    margin-top: 0;
  }
