/* news wrapper */
.news{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-area: news;
}

/* news item */
.news-item{
  padding-left: 20px;
  padding-right: 20px;
  
  color: var(--color-white);
  background-color: var(--color-darkgray);
}
  .news-item--semi{
    grid-column: span 1;
  }
  .news-item--full{
    grid-column: span 2;
  }
  .news-item__date{
    margin-bottom: 0;

    font-size: 12px;
  }
  .news-item__title{
    margin-top: 0;
  }
  .news-item__text{

  }
