@font-face {
  font-family: 'SouthPark';
  src: url('./font/sp.ttf');
  src: url('./font/sp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font: 16px/25px 'SouthPark', Arial, sans-serif;
  color: var(--night);
}

