/* app layout */
.App{
  padding-top: 100px;
  padding-bottom: 100px;
}

/* page layout */
.page-layout{
  display: grid;

  margin-left: auto;
  margin-right: auto;

  border-radius: 15px;
  overflow: hidden;

  box-shadow: var(--shadow3);

  background-image: url('./images/tabs-bg.png');
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: 100% 350px;
}
  @media(max-width: 767px){
    .page-layout{
      grid-template-areas:  "info info"
                            "tabs tabs" 
                            "twitch twitch"
                            "news news"
                            "tabcontent tabcontent"
                            "sponsors sponsors";
    }
  }
  @media(min-width: 768px){
    .page-layout{
      grid-template-areas:  "info tabs" 
                            "twitch twitch"
                            "news news"
                            "tabcontent tabcontent"
                            "sponsors sponsors";
      grid-template-rows: 350px auto;
      grid-template-columns: 50% 50%;
      grid-column-gap: 2px;
    }
  }
  @media(max-width: 1219px){
    .page-layout{
      width: 90%;
    }
  }
  @media(min-width: 1220px){
    .page-layout{
      width: 1200px; 
    }
  }
