.sponsors{
  grid-area: sponsors;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  background-color: var(--color-black);
}

/* sponsor */
.sponsor{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 150px;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
