.sponsors{
  grid-area: sponsors;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  background: #606c88;
  background: -moz-linear-gradient(-45deg, #606c88 0%, #3f4c6b 100%);
  background: -webkit-linear-gradient(-45deg, #606c88 0%,#3f4c6b 100%);
  background: linear-gradient(135deg, #606c88 0%,#3f4c6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 );
}

/* sponsor */
.sponsor{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 200px;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
